html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: pink;
  font-style: italic;
}
input {
  height: 30px;
  width: 300px;
  background-color: pink;
  border-radius: 20px;
}

select {
  height: 30px;
  width: 30px;
  background-color: pink;
  /* border-radius: 20px; */
}
button {
  height: 30px;
  width: 100px;
  background-color: pink;
}
.value {
  margin-top: 30px;
  position: relative;
  left: 300px;
  font-size: 30px;
}
